.flag{
    background-color: white;
    height: 600px;
    width: 1100px;
    position: relative;
    border: 5px solid black;
}
.flag .orange{
    background-color: orange;
    height: 200px;
    width: 100%;
}
.flag .orange .green{
    background-color: green;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 400px;
}
img{
    height: 180px;
    position: absolute;
    left: 450px;
    top: -190px;
}